In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [2]:
df = pd.read_csv("temfile.csv")

In [3]:
df.head()

       City country_id      Country Latitude Longitude
0  Auckland        NEW  New Zealand   36.17S   175.03E
1  Auckland        NEW  New Zealand   36.17S   175.03E
2  Auckland        NEW  New Zealand   36.17S   175.03E
3  Auckland        NEW  New Zealand   36.17S   175.03E
4  Auckland        NEW  New Zealand   36.17S   175.03E

# Label Encoder

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
labelencoder = LabelEncoder()

In [6]:
df["City"] = labelencoder.fit_transform(df["City"].astype(str))

In [7]:
print(df)

       City country_id      Country Latitude Longitude
0         0        NEW  New Zealand   36.17S   175.03E
1         0        NEW  New Zealand   36.17S   175.03E
2         0        NEW  New Zealand   36.17S   175.03E
3         0        NEW  New Zealand   36.17S   175.03E
4         0        NEW  New Zealand   36.17S   175.03E
...     ...        ...          ...      ...       ...
48465    17        POL       Poland   50.63N    16.48E
48466    17        POL       Poland   50.63N    16.48E
48467    17        POL       Poland   50.63N    16.48E
48468    17        POL       Poland   50.63N    16.48E
48469    17        POL       Poland   50.63N    16.48E

[48470 rows x 5 columns]

In [8]:
df.head(2000)

      City country_id      Country Latitude Longitude
0        0        NEW  New Zealand   36.17S   175.03E
1        0        NEW  New Zealand   36.17S   175.03E
2        0        NEW  New Zealand   36.17S   175.03E
3        0        NEW  New Zealand   36.17S   175.03E
4        0        NEW  New Zealand   36.17S   175.03E
...    ...        ...          ...      ...       ...
1995     1        BRA       Brazil   15.27S    47.50W
1996     1        BRA       Brazil   15.27S    47.50W
1997     1        BRA       Brazil   15.27S    47.50W
1998     1        BRA       Brazil   15.27S    47.50W
1999     1        BRA       Brazil   15.27S    47.50W

[2000 rows x 5 columns]

# OneHot Encoder

In [9]:
df = pd.read_csv("temfile.csv")

In [10]:
from sklearn.preprocessing import OneHotEncoder

In [11]:
onehot = OneHotEncoder()

In [12]:
df.dropna(inplace=True)

In [13]:
df

          City country_id Country Latitude Longitude
48465  Wroclaw        POL  Poland   50.63N    16.48E
48466  Wroclaw        POL  Poland   50.63N    16.48E
48467  Wroclaw        POL  Poland   50.63N    16.48E
48468  Wroclaw        POL  Poland   50.63N    16.48E
48469  Wroclaw        POL  Poland   50.63N    16.48E

In [14]:
result = onehot.fit_transform(df[['City']])

In [15]:
oc = pd.DataFrame(result.toarray(), columns = onehot.categories_)

In [16]:
df = df.join(oc)

In [17]:
df.dropna()

,City,country_id,Country,Latitude,Longitude,"(Auckland,)","(Brasília,)","(Canoas,)","(Cape Town,)","(Hamilton,)",...,"(Lvov,)","(Marseille,)","(Odesa,)","(Paris,)","(Stockholm,)","(Tokyo,)","(Tottori,)","(Uppsala,)","(Warsaw,)","(Wroclaw,)"
0,Auckland,NEW,New Zealand,36.17S,175.03E,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Auckland,NEW,New Zealand,36.17S,175.03E,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Auckland,NEW,New Zealand,36.17S,175.03E,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Auckland,NEW,New Zealand,36.17S,175.03E,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Auckland,NEW,New Zealand,36.17S,175.03E,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47981,Wroclaw,POL,Poland,50.63N,16.48E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
47982,Wroclaw,POL,Poland,50.63N,16.48E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
47983,Wroclaw,POL,Poland,50.63N,16.48E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
47984,Wroclaw,POL,Poland,50.63N,16.48E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
47985,Wroclaw,POL,Poland,50.63N,16.48E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [18]:
dataset = [['milk', 'eggs', 'bread'],
           ['milk', 'bread'],
           ['eggs', 'sugar'],
           ['coffee', 'sugar'],
           ['onion', 'coffee', 'carrot', 'icecream']]

# Transaction Encoder

In [19]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\hi\anaconda3\lib\site-packages (0.18.0)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\hi\anaconda3\lib\site-packages (from mlxtend) (0.23.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\hi\anaconda3\lib\site-packages (from mlxtend) (0.17.0)
Requirement already satisfied: numpy>=1.16.2 in c:\users\hi\anaconda3\lib\site-packages (from mlxtend) (1.19.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\hi\anaconda3\lib\site-packages (from mlxtend) (3.3.2)
Requirement already satisfied: setuptools in c:\users\hi\anaconda3\lib\site-packages (from mlxtend) (50.3.1.post20201107)
Requirement already satisfied: scipy>=1.2.1 in c:\users\hi\anaconda3\lib\site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\hi\anaconda3\lib\site-packages (from mlxtend) (1.1.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hi\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\hi\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2020.6.20)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hi\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\hi\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\hi\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\hi\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\hi\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.0.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\hi\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2020.1)
Requirement already satisfied: six in c:\users\hi\appdata\roaming\python\python38\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.14.0)

In [20]:
from mlxtend.preprocessing import TransactionEncoder

In [21]:
enc = TransactionEncoder().fit(dataset)

In [22]:
trans_tranformed = enc.transform(dataset)

In [23]:
trans = pd.DataFrame(trans_tranformed, columns = enc.columns_)

In [24]:
print(trans)

   bread  carrot  coffee   eggs  icecream   milk  onion  sugar
0   True   False   False   True     False   True  False  False
1   True   False   False  False     False   True  False  False
2  False   False   False   True     False  False  False   True
3  False   False    True  False     False  False  False   True
4  False    True    True  False      True  False   True  False

# Jaccard Distance

In [25]:
from scipy.spatial.distance import cdist

In [26]:
jaccard = cdist(trans, trans, metric = 'jaccard')

In [27]:
jaccard_dist = pd.DataFrame(jaccard, columns = trans.index.values, index = trans.index.values)

In [28]:
print(jaccard_dist)

          0         1         2         3    4
0  0.000000  0.333333  0.750000  1.000000  1.0
1  0.333333  0.000000  1.000000  1.000000  1.0
2  0.750000  1.000000  0.000000  0.666667  1.0
3  1.000000  1.000000  0.666667  0.000000  0.8
4  1.000000  1.000000  1.000000  0.800000  0.0

# Elemenating the Duplicates

In [29]:
df = pd.read_csv('temfile.csv')

In [30]:
df.dropna(inplace=True)

In [31]:
df.drop_duplicates(inplace=True)

# Label Encoding

In [32]:
df.City = labelencoder.fit_transform(df.City.astype(str))

In [33]:
df.head(17)

       City country_id       Country Latitude Longitude
0         0        NEW   New Zealand   36.17S   175.03E
1929      1        BRA        Brazil   15.27S    47.50W
4110      2        BRA        Brazil   29.74S    51.69W
6291      3        SOU  South Africa   32.95S    18.19E
8172      4        NEW   New Zealand   37.78S   174.92E
10101     5        SOU  South Africa   26.52S    28.66E
11982     6        UKR       Ukraine   47.42N    31.97E
15221     7        UKR       Ukraine   50.63N    31.69E
18460     8        UKR       Ukraine   50.63N    24.08E
21699     9        FRA        France   42.59N     6.55E
24938    10        UKR       Ukraine   45.81N    31.15E
28177    11        FRA        France   49.03N     2.45E
31416    12        SWE        Sweden   58.66N    18.46E
34655    13        JAP         Japan   36.17N   139.23E
36680    14        JAP         Japan   34.56N   134.27E
38753    15        SWE        Sweden   60.27N    16.22E
41992    16        POL        Poland   52.24N    21.02E

# OneHot Encoder

In [34]:
df = pd.read_csv('temfile.csv')

In [35]:
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)
df.reset_index(drop=True, inplace=True)

In [36]:
onehot_transformed = onehot.fit_transform(df[['City']])

In [37]:
oc = pd.DataFrame(onehot_transformed.toarray(), columns = onehot.categories_)

In [38]:
df = df.join(oc)

In [39]:
df.head(17)

,City,country_id,Country,Latitude,Longitude,"(Auckland,)","(Brasília,)","(Canoas,)","(Cape Town,)","(Hamilton,)",...,"(Lvov,)","(Marseille,)","(Odesa,)","(Paris,)","(Stockholm,)","(Tokyo,)","(Tottori,)","(Uppsala,)","(Warsaw,)","(Wroclaw,)"
0,Auckland,NEW,New Zealand,36.17S,175.03E,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Brasília,BRA,Brazil,15.27S,47.50W,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Canoas,BRA,Brazil,29.74S,51.69W,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Cape Town,SOU,South Africa,32.95S,18.19E,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Hamilton,NEW,New Zealand,37.78S,174.92E,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Johannesburg,SOU,South Africa,26.52S,28.66E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Kherson,UKR,Ukraine,47.42N,31.97E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Kiev,UKR,Ukraine,50.63N,31.69E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Lvov,UKR,Ukraine,50.63N,24.08E,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Marseille,FRA,France,42.59N,6.55E,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,Odesa,UKR,Ukraine,45.81N,31.15E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,Paris,FRA,France,49.03N,2.45E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
12,Stockholm,SWE,Sweden,58.66N,18.46E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
13,Tokyo,JAP,Japan,36.17N,139.23E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
14,Tottori,JAP,Japan,34.56N,134.27E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
15,Uppsala,SWE,Sweden,60.27N,16.22E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
16,Warsaw,POL,Poland,52.24N,21.02E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

# Transform Encoder

In [40]:
enc = TransactionEncoder().fit(oc)

In [41]:
trans_tranformed = enc.transform(oc)

In [42]:
trans = pd.DataFrame(trans_tranformed, columns = enc.columns_)

# Jaccard Distance

In [43]:
jaccard = cdist(trans, trans, metric = 'jaccard')

In [44]:
jaccard_dist = pd.DataFrame(jaccard, columns = trans.index.values, index = trans.index.values)

In [45]:
jaccard_dist

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
5,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
6,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
7,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
8,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
9,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
10,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
11,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
12,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
13,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
14,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
15,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
16,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0
17,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0

### From the Jaccard distance we can see that the distance between two different place is 1, meaning they are completely different from each other and the distance between the same place is 0, meaning they are exactly the same

In [46]:
from sklearn.metrics.pairwise import manhattan_distances

In [47]:
md = manhattan_distances(oc)

In [48]:
man_dist = pd.DataFrame(md, columns = oc.index.values, index = oc.index.values)

In [49]:
man_dist

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1,2.0,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
2,2.0,2.0,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,2.0,2.0,2.0,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
4,2.0,2.0,2.0,2.0,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
5,2.0,2.0,2.0,2.0,2.0,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
6,2.0,2.0,2.0,2.0,2.0,2.0,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
7,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
8,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
9,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
10,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
11,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.0,2.0,2.0,2.0,2.0,2.0,2.0
12,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.0,2.0,2.0,2.0,2.0,2.0
13,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.0,2.0,2.0,2.0,2.0
14,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.0,2.0,2.0,2.0
15,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.0,2.0,2.0
16,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.0,2.0
17,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.0

### From the Manhattan distance we can see that the distances of the same indices are 0, i.e. they are the same, and distances between two different city is 2 unit, meaning they are apart from each other.