In [73]:
import pandas as pd
from scipy.spatial.distance import cityblock, euclidean, minkowski

### read data ###

In [74]:
dataframe = pd.read_csv('../data/dataset_review.csv')

### replace empty values with NaN ###

In [75]:
df = dataframe.replace('-', float('NaN'))

In [76]:
man_dist = list()
euc_dist = list()
kow_dist = list()

## distances ##

In [77]:
for col in df.columns[2:]:
    cur = df[['p1', col]].dropna()
    _from = [float(i) for i in cur['p1'].values]
    _to = [float(i) for i in cur[col].values]
    man_dist.append(cityblock(_from, _to))
    euc_dist.append(euclidean(_from, _to))
    kow_dist.append(minkowski(_from, _to, p=4))

## results ##

In [78]:
print('-'*56)
print('\t', 'Manhattan', '\t', 'Euclidean', '\t', 'Minkowski (p=4)')
print('-'*56)
for i in range(7):
    print(f'p1-p{i+2}', '\t', man_dist[i], '\t\t', round(euc_dist[i], 2), '\t\t', round(kow_dist[i], 2))
print('-'*56)

--------------------------------------------------------
	 Manhattan 	 Euclidean 	 Minkowski (p=4)
--------------------------------------------------------
p1-p2 	 9.0 		 4.3 		 3.22
p1-p3 	 4.5 		 2.4 		 1.83
p1-p4 	 9.0 		 4.42 		 3.3
p1-p5 	 5.0 		 2.74 		 2.17
p1-p6 	 9.5 		 4.66 		 3.45
p1-p7 	 8.0 		 4.12 		 3.06
p1-p8 	 3.5 		 1.66 		 1.22
--------------------------------------------------------