In [88]:
import pandas as pd
from scipy.spatial.distance import cityblock, euclidean, minkowski

### read data ###

In [89]:
dataframe = pd.read_csv('../data/dataset_review.csv')

### replace empty values with NaN ###

In [90]:
df = dataframe.replace('-', float('NaN'))

In [91]:
print('-'*56)
print('\t', 'Manhattan', '\t', 'Euclidean', '\t', 'Minkowski (p=4)')
print('-'*56)
for col in df.columns[2:]:
    cur = df[['p1', col]].dropna()
    _from = [float(i) for i in cur['p1'].values]
    _to = [float(i) for i in cur[col].values]
    print(f'p1-p{i+2}', '\t', 
        cityblock(_from, _to), '\t\t', 
        round(euclidean(_from, _to), 2), '\t\t', 
        round(minkowski(_from, _to, p=4), 2))
print('-'*56)

--------------------------------------------------------
	 Manhattan 	 Euclidean 	 Minkowski (p=4)
--------------------------------------------------------
p1-p8 	 9.0 		 4.3 		 3.22
p1-p8 	 4.5 		 2.4 		 1.83
p1-p8 	 9.0 		 4.42 		 3.3
p1-p8 	 5.0 		 2.74 		 2.17
p1-p8 	 9.5 		 4.66 		 3.45
p1-p8 	 8.0 		 4.12 		 3.06
p1-p8 	 3.5 		 1.66 		 1.22
--------------------------------------------------------