In [23]:
import pandas as pd
from scipy.spatial.distance import cityblock, euclidean, minkowski

### read data ###

In [24]:
dataframe = pd.read_csv('../data/dataset_review.csv')

### replace empty values with NaN ###

In [25]:
df = dataframe.replace('-', float('NaN'))

In [26]:
man_dist = list()
euc_dist = list()
kow_dist = list()

## p1 to p2 ##

In [27]:
df_2 = df.drop(['p3', 'p4', 'p5', 'p6', 'p7', 'p8'], axis=1).dropna()

In [28]:
man_dist.append(cityblock(df_2.p1.astype(float), df_2.p2.astype(float)))
euc_dist.append(euclidean(df_2.p1.astype(float), df_2.p2.astype(float)))
kow_dist.append(minkowski(df_2.p1.astype(float), df_2.p2.astype(float), p=4))

## p1 to p3 ##

In [29]:
df_3 = df.drop(['p2', 'p4', 'p5', 'p6', 'p7', 'p8'], axis=1).dropna()

In [30]:
man_dist.append(cityblock(df_3.p1.astype(float), df_3.p3.astype(float)))
euc_dist.append(euclidean(df_3.p1.astype(float), df_3.p3.astype(float)))
kow_dist.append(minkowski(df_3.p1.astype(float), df_3.p3.astype(float), p=4))

## p1 to p4 ##

In [31]:
df_4 = df.drop(['p2', 'p3', 'p5', 'p6', 'p7', 'p8'], axis=1).dropna()

In [32]:
man_dist.append(cityblock(df_4.p1.astype(float), df_4.p4.astype(float)))
euc_dist.append(euclidean(df_4.p1.astype(float), df_4.p4.astype(float)))
kow_dist.append(minkowski(df_4.p1.astype(float), df_4.p4.astype(float), p=4))

## p1 to p5 ##

In [33]:
df_5 = df.drop(['p2', 'p3', 'p4', 'p6', 'p7', 'p8'], axis=1).dropna()

In [34]:
man_dist.append(cityblock(df_5.p1.astype(float), df_5.p5.astype(float)))
euc_dist.append(euclidean(df_5.p1.astype(float), df_5.p5.astype(float)))
kow_dist.append(minkowski(df_5.p1.astype(float), df_5.p5.astype(float), p=4))

## p1 to p6 ##

In [35]:
df_6 = df.drop(['p2', 'p3', 'p4', 'p5', 'p7', 'p8'], axis=1).dropna()

In [36]:
man_dist.append(cityblock(df_6.p1.astype(float), df_6.p6.astype(float)))
euc_dist.append(euclidean(df_6.p1.astype(float), df_6.p6.astype(float)))
kow_dist.append(minkowski(df_6.p1.astype(float), df_6.p6.astype(float), p=4))

## p1 to p7 ##

In [37]:
df_7 = df.drop(['p2', 'p3', 'p4', 'p5', 'p6', 'p8'], axis=1).dropna()

In [38]:
man_dist.append(cityblock(df_7.p1.astype(float), df_7.p7.astype(float)))
euc_dist.append(euclidean(df_7.p1.astype(float), df_7.p7.astype(float)))
kow_dist.append(minkowski(df_7.p1.astype(float), df_7.p7.astype(float), p=4))

## p1 to p8 ##

In [39]:
df_8 = df.drop(['p2', 'p3', 'p4', 'p5', 'p6', 'p7'], axis=1).dropna()

In [40]:
man_dist.append(cityblock(df_8.p1.astype(float), df_8.p8.astype(float)))
euc_dist.append(euclidean(df_8.p1.astype(float), df_8.p8.astype(float)))
kow_dist.append(minkowski(df_8.p1.astype(float), df_8.p8.astype(float), p=4))

## results ##

In [41]:
print('-'*56)
print('\t', 'Manhattan', '\t', 'Euclidean', '\t', 'Minkowski (p=4)')
print('-'*56)
for i in range(7):
    print(f'p1-p{i+2}', '\t', man_dist[i], '\t\t', round(euc_dist[i], 2), '\t\t', round(kow_dist[i], 2))
print('-'*56)

--------------------------------------------------------
	 Manhattan 	 Euclidean 	 Minkowski (p=4)
--------------------------------------------------------
p1-p2 	 9.0 		 4.3 		 3.22
p1-p3 	 4.5 		 2.4 		 1.83
p1-p4 	 9.0 		 4.42 		 3.3
p1-p5 	 5.0 		 2.74 		 2.17
p1-p6 	 9.5 		 4.66 		 3.45
p1-p7 	 8.0 		 4.12 		 3.06
p1-p8 	 3.5 		 1.66 		 1.22
--------------------------------------------------------